.login-container {
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 24px;
}

.login-card {
  width: 100%;
  max-width: 420px;
}

mat-form-field {
  width: 100%;
  margin-top: 16px;
}

button {
  width: 100%;
  margin-top: 24px;
  min-height: 48px;
}

.mat-mdc-form-field-error-wrapper {
    padding: 0 !important;
}

.error-message {
  margin-top: 16px;
}

